In [122]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder

In [132]:
ex1_class_train_df = pd.read_csv(r'C:\Users\user\git\CE-DataAnalytics\ex_1_classification\Ex1-Class-train.csv')
ex1_class_train_df.drop('id', axis=1, inplace=True)

In [124]:
# my pipeline include following step: 

# category features: process data with some encoder techniuqe

# numerical features: fill null value with mean of the same group of result(y)

# plot before normalize
# normalize numerical features
# plot after normalize

# plot to see outlier
# detect and remove outlier
# plot after remove outlier

# predict using model --> MLP (Neural network), Decision Trees

# evaluation

In [133]:
# category features: process data with some encoder techniuqe


'''
Choosing the Right Technique
The decision to use one-hot encoding or ordinal encoding depends on the nature of the categorical variable and the problem you are tackling. 
Here are some guidelines:

Use One-Hot Encoding: When dealing with nominal categorical variables that lack any inherent order.
Use Ordinal Encoding: When you have categorical variables with a clear ordinal relationship and the order between categories holds valuable information.
'''

#Extract categorical columns from the dataframe
#Here we extract the columns with object datatype as they are the categorical columns
target_encode_features = ['x3', 'x4', 'x5']

#Initialize Ordinal
encoder = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1)

# Apply ordinal encoding to the categorical columns
ordinal_encoded = encoder.fit_transform(ex1_class_train_df[target_encode_features])

#Create a DataFrame with the ordinal encoded columns
#We use get_feature_names_out() to get the column names for the encoded data
ordinal_encoded_df = pd.DataFrame(ordinal_encoded, columns=encoder.get_feature_names_out(target_encode_features))

# concat ordinal encoded dataframe with original dataframe
ex1_class_train_df.drop(target_encode_features, axis='columns', inplace=True)
ex1_class_train_df = pd.concat([ex1_class_train_df, ordinal_encoded_df], axis='columns')
ex1_class_train_df

        x1     x2     x6     x7     x8     x9    x10  y   x3   x4   x5
0    22.34   0.56   9.43  25.38 -20.91 -25.84   4.08  B  2.0  3.0  0.0
1    -2.31   7.36  -3.94    NaN  31.65  12.95   9.82  C  4.0  4.0  4.0
2   -17.55  -4.09 -11.02  -1.77 -17.57  15.98  11.43  D  1.0  0.0  1.0
3   -13.54  -5.42   4.11   2.22  16.72   9.86  16.43  A  2.0  4.0  3.0
4    13.39  -3.20   2.23  11.76   1.34   4.16  -6.49  B  4.0  0.0  1.0
..     ...    ...    ...    ...    ...    ...    ... ..  ...  ...  ...
485  12.54   3.16  -3.49 -16.43  -3.70  -4.12  -2.83  D  3.0  1.0  1.0
486   8.10  -2.49 -10.61  -1.63  -8.81  18.60  10.92  B  4.0  1.0  0.0
487  13.72 -10.59 -32.73  -3.94    NaN   8.97  -8.30  C  4.0  1.0  4.0
488  -6.12  -6.37  22.34  -4.66 -10.86 -17.77  -0.21  C  0.0  1.0  0.0
489  -4.73 -10.89 -20.01  16.22  -9.36   9.43  -2.02  B  2.0  2.0  3.0

[490 rows x 11 columns]

In [130]:
# numerical features: fill missing values with the mean value of that feature calculated separately for each class label 'y'

target_num_features = ['x1', 'x2', 'x6', 'x7', 'x8', 'x9', 'x10']
for cur_num_feature in target_num_features:
    ex1_class_train_df[cur_num_feature] = ex1_class_train_df[cur_num_feature].fillna(ex1_class_train_df.groupby('y')[cur_num_feature].transform('mean'))

In [131]:
ex1_class_train_df

        x1     x2     x6         x7        x8     x9    x10  y   x3   x4   x5
0    22.34   0.56   9.43  25.380000 -20.91000 -25.84   4.08  B  2.0  3.0  0.0
1    -2.31   7.36  -3.94  -1.387544  31.65000  12.95   9.82  C  4.0  4.0  4.0
2   -17.55  -4.09 -11.02  -1.770000 -17.57000  15.98  11.43  D  1.0  0.0  1.0
3   -13.54  -5.42   4.11   2.220000  16.72000   9.86  16.43  A  2.0  4.0  3.0
4    13.39  -3.20   2.23  11.760000   1.34000   4.16  -6.49  B  4.0  0.0  1.0
..     ...    ...    ...        ...       ...    ...    ... ..  ...  ...  ...
485  12.54   3.16  -3.49 -16.430000  -3.70000  -4.12  -2.83  D  3.0  1.0  1.0
486   8.10  -2.49 -10.61  -1.630000  -8.81000  18.60  10.92  B  4.0  1.0  0.0
487  13.72 -10.59 -32.73  -3.940000  -0.99614   8.97  -8.30  C  4.0  1.0  4.0
488  -6.12  -6.37  22.34  -4.660000 -10.86000 -17.77  -0.21  C  0.0  1.0  0.0
489  -4.73 -10.89 -20.01  16.220000  -9.36000   9.43  -2.02  B  2.0  2.0  3.0

[490 rows x 11 columns]

In [ ]:
# normalize numerical features