In [47]:
import pandas as pd
import numpy as np

In [11]:
x = [1, 2, 3] + [10, 10, 10]
print(x)

[1, 2, 3, 10, 10, 10]

In [12]:
x = [1, 2, 3] * 10
print(x)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [13]:
# Create a sample DataFrame
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

# Calculate the sum of each column
column_sums = df.sum(axis=0)
column_sums

A     6
B    15
dtype: int64

In [14]:
# Calculate the sum of each row
row_sums = df.sum(axis=1)
row_sums

0    5
1    7
2    9
dtype: int64

In [16]:
df

   A  B
0  1  4
1  2  5
2  3  6

In [37]:
df.loc[[0, 2]]

   A  B
0  1  4
2  3  6

In [43]:
df.loc[2, 'A']

np.int64(3)

In [27]:
df.iloc[2, 0]

np.int64(3)

In [56]:
df.loc[[0,2], ['B']]

   B
0  4
2  6

In [ ]:
#  prn check index slicing for 'loc', 'iloc'

In [68]:
df.loc[0:2, ['B']]

   B
0  4
1  5
2  6

In [67]:
df.loc[0:2][['B']]

   B
0  4
1  5
2  6

In [61]:
df.iloc[0:2, ['B']]

IndexError: .iloc requires numeric indexers, got ['B']

In [64]:
df.iloc[0:2][['B']]

   B
0  4
1  5

In [54]:
df.loc[[0, 2]][['B']]

   B
0  4
2  6

In [51]:
df.loc[0:1]

   A  B
0  1  4
1  2  5

In [52]:
df.iloc[0:1]

   A  B
0  1  4

In [45]:
[1, 2 ,3] + 3

TypeError: can only concatenate list (not "int") to list

In [48]:
np.array([[1, 2 ,3]]) + 3

array([[4, 5, 6]])